<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Récuperer votre compte</title>
    <link rel="icon" href="{{url_for('static', filename = 'img/key_1.png')}}" type="image/png" sizes="16x16">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
    <link rel="stylesheet" href="{{url_for ('static', filename ='css/pass-recov.css')}}">
</head>

<body>

<div class="container-fluid d-flex justify-content-center">

    <div class="container text-white form_container">
        <p class="text-center ttl_rec">Récuperation de compte</p>
        <form action="" method="post">
            <div class="form-group">
                <label for="mail">Adresse mail</label>
                <input type="email" class="form-control" id="mail" name="courriel" aria-describedby="emailHelp"
                       placeholder="Entrez votre courriel" required>
                <small id="emailHelp" class="form-text text-muted">Indiquez votre courriel tel qu'enregistré.</small>
            </div>
            <div class="form-group">
                <label for="name">Nom</label>
                <input type="text" class="form-control" id="name" name="name" aria-describedby="nameHelp"
                       placeholder="Entrez votre nom" required>
                <small id="nameHelp" class="form-text text-muted">Indiquez votre nom(ou celui de l'entreprise) tel
                    qu'enregistré.</small>
            </div>
            <div class="text-center myButtons">
                <div><button type ="button" class="btn btn-warning" onclick="window.location.href = '{{url_for('welcome')}}';">Page d'acceuil</button></div>
                <div><button type="submit"  class="btn btn-primary btn-cont">Récuperer</button></div>
            </div>
        </form>
    </div>
</div>
</body>

</html>